* {
  box-sizing: border-box;
}

html,body,
h1,h2,h3,h4,h5,h6,
p, em,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
}

button,
input,
textarea {
  border: 0;
  resize: none;
  background-color: transparent;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

label {
  cursor: text;
}

img {
  max-width: 100%;
}

.posfixed{z-index: 1;position:fixed;top: 0;left: 0;width: 100vw;height: 100vh;background: rgba(0,0,0,0.5);}
.perfect_center {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.perfect_center_y {
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.perfect_center_x {
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.perfect_center_b:before,
.perfect_center_a:after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.perfect_center_bx:before,
.perfect_center_ax:after {
  content: '';
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.perfect_center_by:before,
.perfect_center_ay:after {
  content: '';
  z-index: 1;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pseudo_perfect_center:before, .pseudo_perfect_center:after {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.beyond_2line_omit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.beyond_oneline_omit {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
